@font-face {
	src: 	url("../fonts/Roboto-Regular.ttf");
}

@font-face {
	src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
	src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
	src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
	src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
	src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
	src: 	url("../fonts/fontawesome-webfont.ttf");
}

/* Window */
.jfx-decorator {
	-fx-font-family: "Roboto Medium", "Verdana";
	-fx-text-fill: #FFFFFF;
	-fx-decorator-color: #F05964;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0.0 3.0px 3.0px 3.0px;
}

.root{
    -fx-background: #EDEDED;
}

/* Fonts */
.dropshadow {
	-fx-effect: dropshadow(three-pass-box, #0000003b, 10.0, 0.0, 3.0, 6.0);
}

.h0 {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-font-size: 24.0px;
	-fx-text-fill: #434343;
	-fx-fill: #434343;
}

.h1 {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-font-size: 20.0px;
	-fx-text-fill: #434343;
	-fx-fill: #434343;
}

.h2 {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-font-size: 18.0px;
	-fx-text-fill: #434343;
	-fx-fill: #434343;
}

.h3 {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-font-size: 16.0px;
	-fx-text-fill: #434343;
	-fx-fill: #434343;
}

.h4 {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-font-size: 14.0px;
	-fx-text-fill: #434343;
	-fx-fill: #434343;
}

.txt-title {
	-fx-font-family: "Roboto Bold", "Roboto", "Verdana";
	-fx-font-size: 30.0px;
	-fx-text-fill: #434343;
	-fx-fill: #434343;
}

.small {
	-fx-font-size: 12.0px;
	-fx-text-fill: #434343;
	-fx-fill: #434343;
}

.small.danger {
	-fx-text-fill: #EF4956;
	-fx-fill: #EF4956;
}

.para {
	-fx-font-family: "Roboto", "Verdana";
	-fx-font-size: 14.0px;
	-fx-text-fill: #434343;
	-fx-fill: #434343;
}

.para.danger {
	-fx-fill: #EF4956;
	-fx-text-fill: #EF4956;
}

.fontAwesome {
	-fx-font-family: "FontAwesome";
	-fx-text-fill: #434343;
	-fx-fill: #434343;
}

.fontAwesome.x2 {
	-fx-font-size: 28.0px;
}

.fontAwesome.x4 {
	-fx-font-size: 56.0px;
}

.fontAwesome.x6 {
	-fx-font-size: 84.0px;
}

.fontAwesome.x8 {
	-fx-font-size: 112.0px;
}

.fontAwesome.danger.x8 {
	-fx-text-fill: #EF4956;
	-fx-fill: #EF4956;
}

/* White Card / Panel */
.card {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 4.0px;
	-fx-effect: dropshadow(three-pass-box, #0000003b, 10.0, 0.0, 3.0, 6.0);
}

/* Chip */
.sportChip {
	-fx-font-family: "Roboto", "Verdana";
	-fx-font-size: 14.0px;
	-fx-text-fill: #FFFFFF;
	-fx-padding: 10.0px 20.0px 10.0px 20.0px;
	-fx-background-color: #EF4956;
	-fx-background-radius: 24.0px;
	-fx-background-insets: 5.0px;
}

/* Over-ride defaults */
.text-field {
	-fx-font-family: "Roboto", "Verdana";
	-fx-font-size: 14.0px;
	-fx-text-fill: #434343;
	-fx-effect: dropshadow(three-pass-box, #0000003b, 10.0, 0.0, 3.0, 6.0);
	-fx-background-radius: 3.0px;
	-fx-highlight-fill: #EF4956;
}

.text-area {
	-fx-font-family: "Roboto", "Verdana";
	-fx-font-size: 14.0px;
	-fx-text-fill: #434343;
	-fx-background-color: transparent, #F9F9F9, transparent, #F9F9F9;
	-fx-background-radius: 4.0px;
	-fx-background-insets: 0.0;
	-fx-effect: dropshadow(three-pass-box, #0000003b, 10.0, 0.0, 3.0, 6.0);
}

.text-area:focused {
    -fx-highlight-fill: #EF4956;
}

.text-area .content {
	-fx-background-color: transparent, #F9F9F9, transparent, #F9F9F9;
	-fx-background-radius: 4.0px;
	-fx-padding: 10.0px;
	-fx-text-fill: #434343;
    -fx-highlight-fill: #EF4956;
}

.text-area:focused .content {
    -fx-background-color: transparent, #F9F9F9, transparent, #F9F9F9;
    -fx-background-radius: 4.0px;
}

.tooltip {
	-fx-font-family: "Roboto";
	-fx-font-size: 12.0px;
	-fx-font-weight: 400;
}

.hyperlink {
	-fx-text-fill: #EF4956;
	-fx-border-width: 0.0;
	-fx-underline: false;
}

.hyperlink:hover {
	-fx-underline: true;
}

.scroll-pane {
	-fx-background-color: transparent;
}

.jfx-progress-bar > .bar,
.jfx-progress-bar:indeterminate > .bar {
	-fx-background-color: #EF4956;
    -fx-padding: 3.0px;
}

.jfx-text-field {
	-fx-font-family: "Roboto", "Verdana";
	-fx-text-fill: #434343;
	-fx-font-size: 14.0px;
	-fx-prompt-text-fill: #AEAEAE;
	-fx-highlight-fill: #EF4956;
	-jfx-focus-color: #00BCD4;
	-jfx-unfocus-color: #434343;
	-jfx-label-float: true;
}

.jfx-password-field {
	-fx-font-family: "Roboto", "Verdana";
	-fx-text-fill: #434343;
	-fx-font-size: 14.0px;
	-fx-prompt-text-fill: #AEAEAE;
	-fx-highlight-fill: #EF4956;
	-jfx-focus-color: #00BCD4;
	-jfx-unfocus-color: #434343;
	-jfx-label-float: true;
}

.jfx-button {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-font-size: 14.0px;
	-fx-text-fill: #FFFFFF;
	-fx-padding: 10.0px 20.0px 10.0px 20.0px;
	-fx-cursor: hand;
	-jfx-button-type: RAISED;
}

.jfx-button .jfx-rippler {
	-jfx-rippler-fill: #FFFFFF4b;
}

.jfx-toggle-button {
	-jfx-toggle-color: #26A69A;
	-jfx-untoggle-color: #EF4956;
	-jfx-toggle-line-color: #26A69A80;
	-jfx-untoggle-line-color: #EF495680;
}

.jfx-snackbar-toast {
	-fx-font-family: "Roboto Medium", "Verdana";
	-fx-text-fill: #434343;
    -fx-font-size: 14.0px;
    -fx-alignment: center;
}

.jfx-snackbar-content {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 4.0px 4.0px 0.0 0.0;
    -fx-alignment: center;
}

.jfx-dialog-layout .jfx-layout-actions,
.jfx-dialog-layout .jfx-layout-heading,
 .jfx-dialog-layout .jfx-layout-body {
	-fx-alignment: center;
	-fx-text-alignment: center;
}

.jfx-dialog-layout .jfx-layout-body > Text {
	-fx-font-family: "Roboto", "Verdana";
	-fx-font-size: 14.0px;
	-fx-fill: #434343;
	-fx-text-alignment: center;
}

.jfx-dialog-layout .jfx-layout-heading > Text {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-font-size: 20.0px;
	-fx-fill: #434343;
	-fx-text-alignment: center;
}

.jfx-dialog-overlay-pane {
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.7);
}

/* Combo-Box Chip */
.combo-box-base.sportChip {
    -fx-background-color: #EF4956, #EF4956, #EF4956, #EF4956;
    -fx-background-radius: 28.0px;
    -fx-background-insets: 0.0 0.0 -1.0 0.0, 0.0, 1.0, 2.0;
    -fx-padding: 0.0;
}

.combo-box.sportChip .text {
	-fx-font-family: "Roboto", "Verdana";
	-fx-font-size: 14.0px;
	-fx-fill: #FFFFFF;
}

.combo-box.sportChip .arrow {
	-fx-background-color: #FFFFFF;
}

.combo-box.sportChip .list-view .text {
	-fx-fill: #434343;
}

.combo-box-popup.sportChip .list-view {
	-fx-background-color: #FFFFFF, #FFFFFF;
	-fx-background-insets: 0.0, 1.0;
	-fx-effect: dropshadow(three-pass-box, #0000003b, 8.0, 0.0, 1.0, 2.0);
}

.sportChip .combo-box-popup .list-view .list-cell:hover .text {
	-fx-fill: #FFFFFF;
}

.sportChip .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #EF4956;
}

.sportChip .list-view .list-cell:filled:selected .text,
 .sportChip .combo-box-popup .list-view .list-cell:filled:selected:hover .text {
	-fx-fill: #FFFFFF;
}

.sportChip .combo-box-popup .list-view .list-cell:filled:selected,
.sportChip .combo-box-popup .list-view .list-cell:filled:selected:hover {
	-fx-background: #EF4956;
	-fx-background-color: #EF4956;
}

/* Add-On Default */
.text-field.info {
	-fx-prompt-text-fill: #00BCD4cc;
	-fx-border-color: #00BCD4cc;
	-fx-border-style: solid;
	-fx-border-width: 1.5px;
	-fx-border-radius: 3.0px;
}

.text-field.success {
	-fx-prompt-text-fill: #26A69Acc;
	-fx-border-color: #26A69Acc;
	-fx-border-style: solid;
	-fx-border-width: 1.5px;
	-fx-border-radius: 3.0px;
}

.text-field.warning {
	-fx-prompt-text-fill: #FFC107cc;
	-fx-border-color: #FFC107cc;
	-fx-border-style: solid;
	-fx-border-width: 1.5px;
	-fx-border-radius: 3.0px;
}

.text-field.danger {
	-fx-prompt-text-fill: #EF4956cc;
	-fx-border-color: #EF4956cc;
	-fx-border-style: solid;
	-fx-border-width: 1.5px;
	-fx-border-radius: 3.0px;
}

.jfx-text-field.info,
.jfx-password-field.info {
	-jfx-unfocus-color: #00BCD4;
	-fx-border-width: 0.0;
}

.jfx-text-field.success,
.jfx-password-field.success {
	-jfx-unfocus-color: #26A69A;
	-fx-border-width: 0.0;
}

.jfx-text-field.warning,
.jfx-password-field.warning {
	-jfx-unfocus-color: #FFC107;
	-fx-border-width: 0.0;
}

.jfx-text-field.danger,
.jfx-password-field.danger {
	-jfx-unfocus-color: #EF4956;
	-fx-border-width: 0.0;
}

.jfx-toggle-button.fontAwesome {
	-fx-font-family: "FontAwesome";
	-fx-font-size: 18.0px;
}

.jfx-button.fontAwesome {
	-fx-font-family: "FontAwesome";
	-fx-font-size: 14.0px;
	-fx-font-weight: 900;
}

.jfx-button.fontAwesome.square {
	-fx-pref-width: 35.0px;
	-fx-pref-height: -fx-pref-width;
	-fx-padding: 0.0;
}

.jfx-button.fontAwesome.circle {
	-fx-font-size: 24.0px;
	-fx-background-radius: 100.0%;
	-fx-pref-width: 45.0px;
	-fx-pref-height: -fx-pref-width;
	-fx-padding: 0.0;
}

.jfx-button.right {
	-fx-background-radius: 0.0 3.0px 3.0px 0.0;
}

.jfx-button.left {
	-fx-background-radius: 3.0px 0.0 0.0 3.0px;
}

.jfx-button.success {
	-fx-background-color: #26A69A;
}

.jfx-button.danger {
	-fx-background-color: #EF4956;
}

.jfx-button.info {
	-fx-background-color: #00BCD4;
}

.jfx-button.inactive {
	-fx-background-color: #AEAEAE;
}

.jfx-button.success:disabled,
.jfx-button.danger:disabled,
.jfx-button.info:disabled {
	-fx-background-color: #AEAEAE;
	-fx-opacity: 1.0;
	-fx-cursor: default;
}

.info .jfx-snackbar-content {
	-fx-background-color: #00BCD4cd;
}

.info .jfx-snackbar-toast {
	-fx-text-fill: #FFFFFF;
}

.success .jfx-snackbar-content {
	-fx-background-color: #26A69Ae7;
}

.success .jfx-snackbar-toast {
	-fx-text-fill: #FFFFFF;
}

.warning .jfx-snackbar-content {
	-fx-background-color: #FFC107e7;
	-fx-text-fill: #FFFFFF;
}

.warning .jfx-snackbar-toast {
	-fx-text-fill: #FFFFFF;
}

.danger .jfx-snackbar-content {
	-fx-background-color: #EF4956e7;
}

.danger .jfx-snackbar-toast {
	-fx-text-fill: #FFFFFF;
}

.action .jfx-snackbar-action{
	-fx-padding: 0.0 10.0px 0.0 10.0;
	-fx-cursor: hand;
}

.action .jfx-snackbar-action .jfx-rippler {
	-jfx-rippler-fill: none;
}

.ratingsDialog > StackPane {
    -fx-background-color: #EDEDED;
    -fx-background-radius: 4.0px;
    -fx-pref-height: 900.0px;
    -fx-max-height: 900.0px;
    -fx-pref-width: 1400.0px;
    -fx-max-width: 1400.0px;
    -fx-padding: 30.0px 0.0 0.0 0.0;
    -fx-background-insets: 30.0px 0.0 0.0 0.0; 
}

.ratingsDialog VBox {
	-fx-padding: 25.0px;
	-fx-spacing: 25.0px;
	-fx-alignment: top-center;
	-fx-pref-width: -1;
	-fx-max-width: -1;
}

.ratingsDialog ScrollPane {
	-fx-fit-to-width: true;
	-fx-fit-to-height: true;
	-fx-pref-height: -1;
	-fx-background-color: transparent;
}

.info .jfx-dialog-layout .jfx-layout-body > Text,
.success .jfx-dialog-layout .jfx-layout-body > Text,
.warning .jfx-dialog-layout .jfx-layout-body > Text,
.danger .jfx-dialog-layout .jfx-layout-body > Text {
	-fx-font-family: "Roboto", "Verdana";
	-fx-font-size: 14.0px;
	-fx-fill: #434343;
}

.info .jfx-dialog-layout .jfx-layout-heading > Text,
.success .jfx-dialog-layout .jfx-layout-heading > Text,
.warning .jfx-dialog-layout .jfx-layout-heading > Text,
.danger .jfx-dialog-layout .jfx-layout-heading > Text {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-font-size: 20.0px;
	-fx-fill: #434343;
}

.info .jfx-dialog-layout {
	-fx-background-color: #00BCD4cd;
}

.warning .jfx-dialog-layout {
	-fx-background-color: #FFC107cd;
}

.success .jfx-dialog-layout {
	-fx-background-color: #26A69Acd;
}

.danger .jfx-dialog-layout {
	-fx-background-color: #EF4956cd;
}

/* topBar */
.topBar {
	-fx-background-color: #F05964;
	-fx-effect: dropshadow(three-pass-box, #00000054, 10.0, 0.0, 0.0, 6.0);
}

.topBar .searchBtn {
	-fx-font-size: 14.0px;
	-fx-background-color: #26A69A;
	-fx-padding: 5.0px 20.0px 5.0px 20.0px;
}

.topBar .jfx-text-field {
	-fx-font-family: "Roboto", "Verdana";
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 14.0px;
	-fx-prompt-text-fill: #CECECE;
	-fx-highlight-fill: #EF4956;
	-jfx-focus-color: #FFFFFF;
	-jfx-unfocus-color: #CECECE;
	-jfx-label-float: true;
}

.topBar .jfx-combo-box {
	-fx-font-family: "Roboto", "Verdana";
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 14.0px;
	-fx-prompt-text-fill: #CECECE;
	-fx-highlight-fill: #EF4956;
	-jfx-focus-color: #FFFFFF;
	-jfx-unfocus-color: #CECECE;
	-jfx-label-float: true;
}

.topBar .jfx-combo-box .arrow {
	-fx-background-color: #FFFFFF;
}

.topBar .jfx-combo-box .list-view .text {
	-fx-fill: #434343;
}

.topBar .jfx-combo-box .list-view {
	-fx-background-color: #FFFFFF, #FFFFFF;
	-fx-background-insets: 0.0, 1.0;
	-fx-effect: dropshadow(three-pass-box, #0000003b, 8.0, 0.0, 1.0, 2.0);
}

.topBar .jfx-combo-box .list-view .list-cell:hover .text {
	-fx-fill: #FFFFFF;
}

.topBar .jfx-combo-box .list-view .list-cell:filled:hover {
    -fx-background-color: #EF4956;
}

.topBar .jfx-combo-box .list-view .list-cell:filled:selected .text,
 .topBar .jfx-combo-box .combo-box-popup .list-view .list-cell:filled:selected:hover .text {
	-fx-fill: #FFFFFF;
}

.topBar .jfx-combo-box .combo-box-popup .list-view .list-cell:filled:selected,
.topBar .jfx-combo-box .combo-box-popup .list-view .list-cell:filled:selected:hover {
	-fx-background: #EF4956;
	-fx-background-color: #EF4956;
}

.topBar .jfx-date-picker,
#findGame .topBar .jfx-time-picker {
	-jfx-default-color: #EF4956;
}

.topBar .jfx-date-picker > .arrow-button > .jfx-svg-glyph,
.topBar .jfx-time-picker > .arrow-button > .jfx-svg-glyph{
    -fx-background-color: #EBEBEB;
}

.topBar .jfx-toggle-button {
	-fx-font-family: "Roboto", "Verdana";
	-fx-font-size: 14.0px;
	-fx-text-fill: #FFFFFF;
	-jfx-toggle-color: #26C6DA;
	-jfx-untoggle-color: #FFFFFF;
	-jfx-toggle-line-color: #26C6DA80;
	-jfx-untoggle-line-color: #FFFFFF80;
}

/* ID Selectors */
#nav {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 8.0px 8.0px 0.0 0.0;
	-fx-effect: dropshadow(three-pass-box, #0000003b, 10.0, 0.0, 0.0, -2.0);
	-fx-background-insets: 0.0px 10.0px 0.0 10.0px;
}

#nav .fontAwesome {
	-fx-font-family: "FontAwesome";
	-fx-font-size: 45.0px;
	-fx-text-fill: #AEAEAE;
	-fx-max-width: infinity;
	-fx-padding: 5.0px;
}

#nav .fontAwesome.active {
	-fx-text-fill: #EF4956;
}

#nav .jfx-button {
	-jfx-button-type: FLAT;
}

#nav .jfx-button .jfx-rippler {
	-jfx-rippler-fill: #EF49564b;
}

#nav .jfx-button.active .jfx-rippler {
	-jfx-rippler-fill: #AEAEAE4b;
}

#nav .fontAwesome.profileBtn {
	-fx-background-radius: 8.0px 0.0 0.0 0.0;
	-fx-background-insets: 0.0 0.0 0.0 10.0px;
}

#nav .fontAwesome.logoutBtn {
	-fx-background-radius: 0.0 8.0px 0.0 0.0;
	-fx-background-insets: 0.0 10.0px 0.0 0.0;
}

#loginView {
	-fx-background-image: url(../img/Background_1.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: cover;
}

.lrfAccordion > .titled-pane > .title > .arrow-button .arrow { 
	-fx-background-color: transparent;
}

#loginView .login.titled-pane,
#loginView .register.titled-pane,
#loginView .fpass.titled-pane {
	-fx-text-fill: #FFFFFF;
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-font-size: 18.0px;
}

#loginView .login.titled-pane > .title {
	-fx-background-color: rgba(38.0, 198.0, 218.0, 0.6);
	-fx-background-radius: 6.0px 6.0px 0.0 0.0;
}

#loginView .login.titled-pane > .content {
	-fx-background-color: rgba(38.0, 198.0, 218.0, 0.6);
	-fx-box-border: transparent;
}

#loginView .login.titled-pane > .content .gridPane {
	-fx-vgap: 15.0px;
	-fx-padding: 15.0px 100.0px 15.0px 100.0px;
}

#loginView .login .content .jfx-button.loginBtn {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-background-color: #00BCD4;
	-fx-padding: 10.0px 50.0px 10.0px 50.0px;
}

#loginView .register.titled-pane > .title {
	-fx-background-color: rgba(38.0, 166.0, 154.0,0.6);
}

#loginView .register.titled-pane > .content {
	-fx-background-color: rgba(38.0, 166.0, 154.0,0.6);
	-fx-box-border: transparent;
}

#loginView .register.titled-pane > .content .gridPane {
	-fx-vgap: 15.0px;
	-fx-padding: 15.0px 100.0px 15.0px 100.0px;
}

#loginView .register .content .jfx-button.regBtn {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-background-color: #26A69A;
	-fx-padding: 10.0px 40.0px 10.0px 40.0px;
}

#loginView .fpass.titled-pane > .title {
	-fx-background-color:  rgba(239.0, 73.0, 86.0, 0.6);
	-fx-background-radius: 0.0 0.0 6.0px 6.0px;
}

#loginView .fpass.titled-pane.inactive > .title {
	-fx-background-radius: 0.0;
}

#loginView .fpass.titled-pane > .content {
	-fx-background-color:  rgba(239.0, 73.0, 86.0, 0.6);
	-fx-background-radius: 0.0 0.0 6.0px 6.0px;
	-fx-box-border: transparent;
}

#loginView .fpass.titled-pane > .content .gridPane {
	-fx-vgap: 15.0px;
	-fx-padding: 15.0px 100.0px 15.0px 100.0px;
}

#loginView .fpass .content .jfx-button.fpassBtn {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-background-color: #EF4956;
	-fx-padding: 10.0px 30.0px 10.0px 30.0px;
}

#profile .dp,
#editProfile .dp,
#friendCard .dp {
	-fx-fill: #FFFFFF;
	-fx-stroke: #EF4956;
	-fx-stroke-width: 5.0;
	-fx-stroke-type: outside;
	-fx-stroke-line-cap: round;
	-fx-background-color: #FFFFFF;
	-fx-effect: dropshadow(three-pass-box, #0000003b, 10.0, 0.0, 3.0, 6.0);
}

.ratingStars {
	-fx-font-family: "FontAwesome";
	-fx-font-size: 22.0px;
	-fx-text-fill: #EF4956;
	-fx-fill: #EF4956;
}

.ratingStarsBtn {
	-fx-font-family: "FontAwesome";
	-fx-font-size: 28.0px;
	-fx-text-fill: #EF4956;
	-fx-fill: #EF4956;
	-fx-background-color: transparent;
	-fx-padding: 5.0px;
}

#profile .comBtnFlowPane {
	-fx-background-radius: 3.0px;
	-fx-effect: dropshadow(three-pass-box, #0000003b, 8.0, 0.0, 1.0, 3.0);
}

#editProfile .dpOverlay {
	-fx-fill: #000000b2;
	-fx-stroke-width: 0.0;
	-fx-stroke-line-cap: round;
	-fx-stroke-type: outside;
}

#editProfile .dpOverlayIcon {
	-fx-font-family: "FontAwesome";
	-fx-font-size: 60.0px;
	-fx-font-weight: 900;
	-fx-text-fill: #FFFFFF;
	-fx-fill: #FFFFFF;
}

#comments .dp,
.hostCard .dp {
	-fx-fill: #FFFFFF;
	-fx-stroke: #EF4956;
	-fx-stroke-width: 5.0;
	-fx-stroke-type: outside;
	-fx-stroke-line-cap: round;
	-fx-background-color: #FFFFFF;
	-fx-effect: dropshadow(three-pass-box, #0000004d, 10.0, 0.0, 1.0, 2.0);
}

#comments .ratingStars {
	-fx-font-family: "FontAwesome";
	-fx-font-size: 18.0px;
	-fx-text-fill: #EF4956;
	-fx-fill: #EF4956;
}

#uploadPhoto .uploadBox {
	-fx-border-width: 5.0px;
	-fx-border-radius: 6.0px;
	-fx-border-color: #AEAEAE;
	-fx-border-style: dashed;
}

.hostCard .playerCountCircle {
	-fx-fill: transparent;
	-fx-stroke: linear-gradient(to bottom right, #EF4956 0.0%, #EF4956 0.0%, #26A69A 100.0%);
	-fx-stroke-width: 5.0px;
	-fx-stroke-type: outside;
	-fx-stroke-line-cap: round;
	-fx-stroke-line-join: round;
	-fx-stroke-miter-limit: 10.0;
	-fx-stroke-dash-offset: 0.0;
}