@font-face {
	src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
	src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
	src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
	src: url("../fonts/fontawesome-webfont.ttf");
}

.root{
    -fx-background: #EDEDED;
}

.h0 {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-font-size: 24px;
	-fx-text-fill: #434343;
	-fx-fill: #434343;
}

.h1 {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-font-size: 20px;
	-fx-text-fill: #434343;
	-fx-fill: #434343;
}

.h2 {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-font-size: 18px;
	-fx-text-fill: #434343;
	-fx-fill: #434343;
}

.small {
	-fx-font-family: "Roboto", "Verdana";
	-fx-font-size: 12px;
	-fx-text-fill: #434343;
	-fx-fill: #434343;
}

.para {
	-fx-font-family: "Roboto", "Verdana";
	-fx-font-size: 14px;
	-fx-text-fill: #434343;
	-fx-fill: #434343;
}

.fontAwesome {
	-fx-font-family: "FontAwesome", "Roboto";
	-fx-text-fill: #434343;
}

.text-field {
	-fx-font-family: "Roboto", "Verdana";
	-fx-font-size: 14px;
	-fx-text-fill: #434343;
	-fx-effect: dropshadow(three-pass-box, #0000003b, 10, 0, 3, 6);
	-fx-background-radius: 3px;
}

.text-field.danger {
	-fx-prompt-text-fill: #EF4956cc;
	-fx-border-color: #EF4956cc;
	-fx-border-style: solid;
	-fx-border-width: 1.5px;
	-fx-border-radius: 3px;
}

.jfx-button {
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-font-size: 14px;
	-fx-text-fill: #ffffff;
	-fx-padding: 10px 20px 10px 20px;
}

.jfx-button.fontAwesome {
	-fx-font-family: "FontAwesome";
	-fx-font-size: 14px;
	-fx-font-weight: 800;
}

.jfx-button.fontAwesome.square {
	-fx-pref-width: 35px;
	-fx-pref-height: 35px;
	-fx-padding: 0;
}

.jfx-button.right {
	-fx-background-radius: 0 3px 3px 0;
}

.jfx-button.left {
	-fx-background-radius: 3px 0 0 3px;
}

.jfx-button.success {
	-fx-background-color: #26A69A;
}

.jfx-button.danger {
	-fx-background-color: #EF4956;
}

.jfx-button.info {
	-fx-background-color: #26C6DA;
}

.jfx-button.inactive {
	-fx-background-color: #AEAEAE;
}

.jfx-snackbar-content {
    -fx-background-color: #ffffff;
    -fx-background-radius: 4px 4px 0 0;
    -fx-alignment: center;
}

.jfx-snackbar-toast {
	-fx-font-family: "Roboto Medium", "Verdana";
	-fx-text-fill: #434343;
    -fx-font-size: 14px;
    -fx-alignment: center;
}

.info .jfx-snackbar-content {
	-fx-background-color: #26C6DA99;
}

.info .jfx-snackbar-toast {
	-fx-text-fill: #ffffff;
}

.success .jfx-snackbar-content {
	-fx-background-color: #26A69A99;
}

.success .jfx-snackbar-toast {
	-fx-text-fill: #ffffff;
}

.warning .jfx-snackbar-content {
	-fx-background-color: #FFC10799;
	-fx-text-fill: #ffffff;
}

.warning .jfx-snackbar-toast {
	-fx-text-fill: #ffffff;
}

.danger .jfx-snackbar-content {
	-fx-background-color: #EF495699;
}

.danger .jfx-snackbar-toast {
	-fx-text-fill: #ffffff;
}

#nav {
	-fx-background-color: #ffffff;
	-fx-background-radius: 8px 8px 0 0;
	-fx-effect: dropshadow(three-pass-box, #0000003b, 10, 0, 0, -2);
	-fx-background-insets: 5px 10px 0 10px;
}

#nav .fontAwesome {
	-fx-font-family: "FontAwesome";
	-fx-font-size: 45px;
	-fx-text-fill: #AEAEAE;
	-fx-max-width: infinity;
	-fx-background-radius: 0;
	-fx-background-insets: 5px 0 0 0;
	-fx-padding: 10px 5px 5px 5px;
}

#nav .fontAwesome.active {
	-fx-text-fill: #EF4956;
}

#nav .fontAwesome.profileBtn {
	-fx-background-radius: 8px 0 0 0;
	-fx-background-insets: 5px 0 0 10px;
}

#nav .fontAwesome.logoutBtn {
	-fx-background-radius: 0 8px 0 0;
	-fx-background-insets: 5px 10px 0 0;
}

#loginView {
	-fx-background-image: url(../img/Background_1.png);
}

.lrfAccordion > .titled-pane > .title > .arrow-button .arrow { 
	-fx-background-color: transparent;
}

#loginView .login.titled-pane,
#loginView .register.titled-pane,
#loginView .fpass.titled-pane {
	-fx-text-fill: #ffffff;
	-fx-font-family: "Roboto Medium", "Roboto", "Verdana";
	-fx-font-size: 18px;
}

#loginView .login.titled-pane > .title {
	-fx-background-color: rgba(38, 198, 218, 0.6);
	-fx-background-radius: 6px 6px 0 0;
}

#loginView .login.titled-pane > .content {
	-fx-background-color: rgba(38, 198, 218, 0.6);
	-fx-box-border: transparent;
}

#loginView .login.titled-pane > .content .gridPane {
	-fx-vgap: 15px;
	-fx-padding: 15px 100px 15px 100px;
}

#loginView .login .loginBtn {
	-fx-background-color: #26C6DA;
	-fx-padding: 10px 50px 10px 50px;
}

#loginView .register.titled-pane > .title {
	-fx-background-color: rgba(38, 166, 154,0.6);
}

#loginView .register.titled-pane > .content {
	-fx-background-color: rgba(38, 166, 154,0.6);
	-fx-box-border: transparent;
}

#loginView .register.titled-pane > .content .gridPane {
	-fx-vgap: 15px;
	-fx-padding: 15px 100px 15px 100px;
}

#loginView .register .content .regBtn {
	-fx-background-color: #26A69A;
	-fx-padding: 10px 40px 10px 40px;
}

#loginView .fpass.titled-pane > .title {
	-fx-background-color:  rgba(239, 73, 86, 0.6);
	-fx-background-radius: 0 0 6px 6px;
}

#loginView .fpass.titled-pane.inactive > .title {
	-fx-background-radius: 0;
}

#loginView .fpass.titled-pane > .content {
	-fx-background-color:  rgba(239, 73, 86, 0.6);
	-fx-background-radius: 0 0 6px 6px;
	-fx-box-border: transparent;
}

#loginView .fpass.titled-pane > .content .gridPane {
	-fx-vgap: 15px;
	-fx-padding: 15px 100px 15px 100px;
}

#loginView .fpass .content .fpassBtn {
	-fx-background-color: #EF4956;
	-fx-padding: 10px 30px 10px 30px;
}

#profile .card {
	-fx-background-color: #ffffff;
	-fx-background-radius: 4px;
	-fx-effect: dropshadow(three-pass-box, #0000003b, 10, 0, 3, 6);
}

#profile .ratingStars {
	-fx-font-family: "FontAwesome";
	-fx-font-size: 22px;
	-fx-text-fill: #EF4956;
	-fx-fill: #EF4956;
}

#profile .sportChip {
	-fx-font-family: "Roboto", "Verdana";
	-fx-font-size: 14px;
	-fx-text-fill: #ffffff;
	-fx-padding: 5px 15px 5px 15px;
	-fx-background-color: #EF4956;
	-fx-background-radius: 24px;
}

#profile .comBtnFlowPane {
	-fx-background-radius: 3px;
	-fx-effect: dropshadow(three-pass-box, #0000003b, 8, 0, 1, 3);
}